.card {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 20px;
    text-decoration: none;
    border-radius: 20px;
}

.card details {
    margin-top: 20px;
    color: white;
}

.card div.details {
    min-height: 1px;
    padding: 25px;
}

.name {
    font-size: 30px;
}

.image {
    width: 100%;
    min-height: 500px; 
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}


